[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.115.6"
uvicorn = "==0.34.0"
ruff = "*"
sqlmodel = "==0.0.22"
fastapi-mail = "==1.4.2"
redis = "==5.2.1"
pytz = "==2024.2"
prometheus-fastapi-instrumentator = "==7.0.2"
python-jose = "==3.3.0"
passlib = "==1.7.4"
logtail-python = "==0.3.2"
loguru = "==0.7.3"
python-multipart = "==0.0.20"
asyncpg = "==0.30.0"
bcrypt = "==4.0.1"
authlib = "==1.4.0"
itsdangerous = "==2.2.0"
httpx = "==0.28.1"
zeep = "==4.3.1"
elasticsearch = "==8.17.1"
aiohttp = "==3.11.11"
boto3 = "==1.36.11"
alembic = "==1.14.1"
geoalchemy2 = "==0.17.1"
firebase-admin = "==6.6.0"
setuptools = "*"
websockets = "==15.0"
celery = {extras = ["redis"], version = "==5.4.0"}

[dev-packages]
pytest = "==8.3.4"
localstack = "==4.1.0"
awscli-local = "==0.22.0"
pre-commit = "*"
awscli = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.1"
